body {
    background-color: #D0BFFF;
}

.paragrafo1 {
    color: #358476;
    text-align: center;
    font-size: 20px;
}

.paragrafo2 {
    color: #17ac21;
    text-align: center;
    font-size: 20px;
}

.paragrafo3 {
    color: #bbb320;
    text-align: center;
    font-size: 20px;
}

#titulo {
    text-align: center;
    color: #dc143c;
}

.imagem_poligono {
    text-align: center;
}